.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: skyblue;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem 1rem;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
}

.portfolio_item:hover {
    background: white;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.portfolio_item_image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 150px;
}

.portfolio_item h3 {
    margin: 1.5rem 0rem 2rem;
    text-align: center;

}

.portfolio_item a {
    margin-top: 1px;
    
} 

.Github_link {
    text-align: center;
}

/* MEDIA QUERIES (MEDIUM DEVICES LIKE TABLETS) */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES LIKE PHONES) */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}