.container.contact__container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.contact__option {
    background: skyblue;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem 1rem;
    transition: var(--transition);
    text-align: center;
}

.contact__option:hover {
    background: white;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.contact__links {
    color: darkblue;
    display: inline-block;
    margin-top: 0.6rem;
    font-size: 0.9rem;
}

.contact__option-icon {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.contact__option-subheader{
    font-size: 0.95rem;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

input, textarea {
    width: 100%;
    padding: 1.4rem;
    border-radius: 0.4rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
}

/* MEDIA QUERIES (MEDIUM DEVICES LIKE TABLETS) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2.2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES LIKE PHONES) */
@media screen and (max-width: 600px) {
   .container.contact__container {
        width: var(--container-width-sm);
    }
}