.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.company{
    text-align: center;
}

.position {
    margin: 10px 20px;
    font-style: italic;
    text-align: center;
}

.experience__container > div {
    background: skyblue;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem 1rem;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: white;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_content ul {
    display: table;
    margin-left: 20px;
}

.experience_content li {
    margin-bottom: 10px; 
    list-style-type: disc; 
}

/* MEDIA QUERIES (MEDIUM DEVICES LIKE TABLETS) */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content {
        padding: 1rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES LIKE PHONES) */
@media screen and (max-width: 600px) {
   .experience__container {
        gap: 1rem;
   }

   .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
   }
}
